$color1: #4cd7f4;
$color2: #00a8d6;
$color3: #e2feff;
$color4: #fcfcd4;

// This file serves as the styling for many different Body Components located in the
// src/LayoutComponents/BodyComponents Folder.

// Default values for all Body Components.

body {
  //background: linear-gradient(-45deg, #327c97, #23a6d5, #4cd7f4, #abd8e9);
  background-color: $color2;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  max-width: $maxWidth;
  max-height: $maxHeight;

  margin-trim: 100%;
  h1 {
    color: #fcfcd4;
  }
  p {
    color: #fcfcd4;
  }
}

.MainBody {
  padding-left: 25%;
  padding-bottom: 0%;
  top: 7%;
  position: absolute;
  float: right;
  z-index: -1;
  list-style-type: none;
}

// Home Body Section. HomeBody.js Component.
#MainBody-Home {
  h1{
    padding-left: 10%;
  }
}
// AboutMe Body Section. AboutMeBody.js Component
#MainBody-AboutMe {
  h1{
    padding-left: 5%;
  }
  
  .ListTestingGallery {
    list-style-type: none;

    display: block;
  }
  .ListTestingDivider {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5.1px);
  }
  .aboutMePic {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .aboutMeText {
    list-style-type: none;
    color: $color4;
    line-height: 0.1px;
  }
}

// Games Body Section - GamesBody.js Component.

.GameBodyMainContainer {
  display: block;
  h1{
    padding-left: 5%;
  }

  // Scrolling Elements.
  #GameBodyClass-containerElement {
    position: relative;

    overflow: scroll;

    .GameBodyUL {
      list-style-type: none;

      padding-bottom: 0%;

      display: inline-flex;

      .GameBodyLI {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
      }
    }
    // GameDisplayBlock.js Components located in the Component Folder.
    .GameDisplayBlockMainContainer {
      list-style-type: none;
      position: relative;
      border: 0%;

      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 2%;
      padding-right: 2%;

      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.1px);
      border-radius: 15px;
      -webkit-backdrop-filter: blur(5.1px);


      .GameDisplayBlockTitle {
        padding-left: 5%;
        padding-top: 30%;
      }
      .GameDisplayBlockDescription {
        padding-left: 5%;
      }
      .GameDisplayBlockButton {
        background-color: $color3;
        text-align: center;
        color: black;
        border-color: #00a8d6;
        border-radius: 20%;

        margin: auto;

        text-align: center;
        float: top;
      }
    }
  }
}


// Photos Body Section - PhotosBody.js component.
#MainBody-Photos {
  display: inline-block;
  margin: 0%;

  h1 {
    padding-left:5%;
  }

  // Page Scroll Element.
  #PhotoBodyClass-containerElement {
    position: relative;
    overflow: scroll;
    padding-left: 0%;
    margin:0px;
  }
  #PhotoBodyCarouselContainerScrollElement{
    padding-left:5%;
  }

  // Carousel Component - Top of PhotoBody.js
  #PhotoBodyCarouselContainer {
    margin-bottom: 100%;
  }

  .ScrollElementDiv{
    padding-left:10%;
  }

  // Start of Photo Object List.
  .PhotoUL {
    list-style-type: none;
    margin-right:0%;
    padding-top: 2%;


    .PhotoLI{
      position:relative;
      
    }
  }

// PhotoDisplayBlock.js component - Child Component of PhotosBody.js - Located in Components Folder.
  .DisplayBlockMainContainer {
    position:relative;

    
    .DisplayBlockChildContainer {
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.1px);
      border-radius: 20%;
      -webkit-backdrop-filter: blur(5.1px);
      display:inline-block;
      margin-inline: 2%;

      .DisplayBlockTitle {
        color: #fcfcd4;
        text-align: center;
      }
      .DisplayBlockImage {
        padding-right: 10%;
        padding-left: 10%;
      }
      .DisplayBlockButton {
        background-color: $color3;
        color: black;
        border-color: #00a8d6;
        border-radius: 20%;
        display: grid;
        margin: auto;
      }
    }
  }
}

// TDModels Body Section - TDModelsBody.js Component.
#MainBody-3DModels {

  #ModelBodyClass-containerElement {
    h1 {
      padding-left: 8%;
    }

    position: relative;
    overflow: scroll;

    display: inline-block;

    // ModelDisplayBlock.js component - Child Component of TDModelsBody.js - Located in Components Folder.
    .ModelDisplayBlockMainContainter {
      display: inline-flex;
    }

    #ModelDisplayBlockUL {
      padding-left: 5%;
      margin-top: 5%;

      display: flex;
      list-style-type: none;
      align-items: center;

      .ModelDisplayBlockImageLI {
        padding-right: 0%;
        padding-left: 0%;

      }

      .ModelDisplayButtonLI {

        .ModelDisplayBlockButton {
          background-color: $color3;
          font-size: 5%;
          text-align: center;
          color: black;
          border-color: #00a8d6;
          border-radius: 20%;
        }
      }

      .ModelDisplayBlockTextContainer {
        padding-left: 10%;

        .ModelDisplayBlockTitle {
          color: #fcfcd4;
        }
        .ModelDisplayBlockDescription {
          color: #fcfcd4;
        }
      }
    }
  }
}
