$color1: #4cd7f4;
$color2: #00a8d6;
$color3: #e2feff;
$color4: #fcfcd4;

$minWidth: 290px;
$maxWidth: 500px;
$maxHeight: 30px;

$picsize: 30px;
$shadowSize: 20px;

// This file serves as the main Body Styling. This includes all the different Components that will be
//swapped out but occupy the same space below the Header and to the right of the Nav Buttons.

//Main Header - Header.js Component Located in /src/LayoutComponents

#MainHeader {
  background: $color4;
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: $maxWidth;
  max-height: $maxHeight;

  #MainTitle {
    display: inline-block;
    padding-bottom: 0%;

    #MainHeaderTitle {
      color: $color2;
      font-size: 100%;
      background-color: $color4;
      &hover{
        color: purple !important;
      }
    }
  }

  // Social Media buttons - Located in top right of Webpage.
  #SocialDiv {
    float: right;
  }

  #SocialList {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0px;
    top: 0px;
    a {
      display: inline-block;
    }
  }
  .Socials {
    display: flex;
    flex-direction: row;
    background: $color4;

    .pictureWindow {
      height: $picsize;
      width: $picsize;
      z-index: 4;
    }
    .pictureLogo {
      height: $picsize;
      width: $picsize;
      position: absolute;

      margin-top: 1%;
      margin-right: 1%;

      z-index: 3;
    }

    .midDrop {
      height: $shadowSize;
      width: $shadowSize;
      margin-top: 3%;
      margin-left: 5%;
      border-radius: 50%;
      position: absolute;

      z-index: 2;
    }
    .backDrop {
      height: $shadowSize;
      width: $shadowSize;
      border-radius: 50%;
      margin-top: 3%;
      margin-left: 5%;
      position: absolute;

      z-index: 1;
    }
  }
}

