$color1: #4cd7f4;
$color2: #00a8d6;
$color3: #e2feff;
$color4: #fcfcd4;

$picsize: 50px;

// This file serves as the main Body Styling. This includes all the different Components that will be 
//swapped out but occupy the same space below the Header and to the right of the Nav Buttons.

//Main Header - Header.js Component Located in /src/LayoutComponents

#MainHeader {
  background: $color4;
  position: absolute;
  height: 100px;
  width: 100%;
  
  #MainTitle {
    display: inline-block;
    padding-bottom: 0%;
    
    
    #MainHeaderTitle {
      color: $color2;
      font-size: 75px;
    }
  }

  #SocialDiv {
    float: right;
  }

  // Social Media buttons - Located in top right of Webpage.

  #SocialList {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0px;
    top: 0px;
    a {
      display: inline-block;
    }
    
  }
  .Socials {
    display: flex;
    flex-direction: row;

    .pictureWindow {
      height: $picsize;
      width: $picsize;
      z-index: 4;
    }
    .pictureLogo {
      height: $picsize;
      width: $picsize;
      position: absolute;
      z-index: 2;
    }
    .backDrop {
      height: $picsize;
      width: $picsize;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
    }
    .midDrop {
      height: $picsize;
      width: $picsize;
      border-radius: 50%;
      position: absolute;
      z-index: 3;
    }
  }
}
