// Default Layout values for Main Components. Located in Same folder as this file.
// Located in SassFiles Folder.
@import "header";
@import "navbar";
@import "body";
@import "footer";

/*Responsive Layouts for multiple Device size such as Mobiles -> Ultra Wide Screens.
Located in Sub Folder of SassFiles.

Top Left Header Title Changes Color Based on which Responce is Active. **Only during Development**
Blue : small 290 - 500
Purple : med 500 - 1000
Red : large 1000 - 2000
Green: extra large - 2000 - 4000
*/
@import "./ResponsiveScss/responseSM.scss";
@import "./ResponsiveScss/responseMD.scss";
@import "./ResponsiveScss/responseLG.scss";
//@import "./ResponsiveScss/responseXLG.scss"; // Currently Not completed.



$color1: #4cd7f4;
$color2: #00a8d6;
$color3: #e2feff;
$color4: #fcfcd4;

// This file serves as a Central import located for all SCSS files as well as the CSS generator file
// used with the --watch command provided by SASS.

// Also serves as some default values.

* {
  padding: 0;
  margin: 0%;
}
