

/* Resoonsive Web Cofiguation File for Web Development.
Aimed at small Devices such as Mobile and small Tablets.

290px Width -> 500px Width
*/




@media screen  and (min-width: 290px){

    $maxWidth: 500px;
    $maxHeight: 1000px;
    $picsize: 30px;
    $shadowSize: 20px;
  
    // Header Section
    #MainHeader {
      max-width: $maxWidth;
      max-height: 30px;
      #MainTitle {
        #MainHeaderTitle {
          color: blue; // Check for ScreenSize
          font-size: 100%;
        }
      }
  
      .Socials {
        .pictureWindow {
          height: $picsize;
          width: $picsize;
        }
        .pictureLogo {
          height: $picsize;
          width: $picsize;
        }
        .midDrop {
          height: $shadowSize;
          width: $shadowSize;
        }
        .backDrop {
          height: $shadowSize;
          width: $shadowSize;
        }
      }
    }
  
    // Nav Bar / Body Section
    #NavBodyDiv {
      max-width: $maxWidth;
      max-height: 500px;
      padding-top: 10%;
      #NavBarContainer {
        max-width: $maxWidth;
        height: 100%;
        width: 10%;
        // Nav Buttons
        .NavButtonsList {
          padding-top: 30%;
          .NavButtons {
            height: 20px;
            width: 75px;
            
          }
        }
      }
    }
    // Body Section -  Default Values.
    body {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 80%;
      max-width: $maxWidth;
      max-height: $maxHeight;
      h1 {
        font-size: 100%;
      }
    }
    // Body Section
    .MainBody {
      width: 80%;
      height: 100%;
    }
  
    // Home Body Section
    #MainBody-Home {
      h1 {
        color: orange; // Will Need later.
      }
    }
    // AboutMe Body Section
  
    #MainBody-AboutMe {
      height: 100%;
      width: 90%;
      h1 {
        font: 100%;
      }
      .ListTestingDivider {
        height: 100%;
        width: 100%;
      }
      .aboutMePic {
        height: 30%;
        width: 60%;
      }
      .aboutMeText {
        font-size: 50%;
        height: 100%;
        width: 50%;
      }
    }
  
    //Game Body Section
  
    .GameBodyMainContainer {
     
      height: 100%;
      width: 105%;
      
       // Scrolling Elements.
      #GameBodyClass-containerElement {
        height: 100%;
  
        // GameDisplayBlock.js Components located in the Component Folder.
        .GameDisplayBlockMainContainer {
          height: 80%;
          .GameDisplayBlockImage {
            height: 100%;
            width: 80%;
          }
  
          .GameDisplayBlockTitle {
            font-size: 60%;
          }
          .GameDisplayBlockDescription {
            font-size: 50%;
          }
          .GameDisplayBlockLI {
            height: 30%;
            .GameDisplayBlockButton {
              height: 40%;
              width: 80%;
              font-size: 5%;
            }
          }
        }
      }
    }
  
    //Photo Body Section
    #MainBody-Photos {
      h1 {
        font-size: 80%;
      }
  
      // Page Scroll Element.
      #PhotoBodyClass-containerElement {
        height: 110%;
        width: 100%;
        padding-bottom: 15%;
      }
      #PhotoBodyCarouselContainerScrollElement {
        width: 90%;
        height: 25%;
        padding-bottom: 15%;
        
      }
  
      // Carousel Component - Top of PhotoBody.js
      .PhotoBodyCarouselPicture {
        width: 100%;
      }
      // PhotoDisplayBlock.js component - Child Component of PhotosBody.js - Located in Components Folder.
      .DisplayBlockMainContainer {
        margin-right: 0px;
        .DisplayBlockChildContainer {
          margin-inline: 5%;
          .DisplayBlockTitle {
            font-size: 100%;
          }
          .DisplayBlockImage {
            width: 80%;
            height: 100%;
          }
          .DisplayBlockButton {
            width: 50%;
          }
        }
      }
    }
    // TDModel body Section
    #MainBody-3DModels {
      width: 75%;
      height: 100%;
      #ModelBodyClass-containerElement {
        width: 100%;
        height: 110%;
  
        // ModelDisplayBlock.js component - Child Component of TDModelsBody.js - Located in Components Folder.
        .ModelDisplayBlockMainContainter {
          width: 100%;
          height: 100%;
        }
  
        #ModelDisplayBlockUL {
          .ModelDisplayBlockImageLI {
            height: 80%;
            width: 30%;
  
            .ModelDisplayBlockImage {
              height: 80%;
              width: 100%;
            }
          }
  
          .ModelDisplayButtonLI { // Need to Figure out Buttons.
            width: 400%;
            height: 400%;
  
            .ModelDisplayBlockButton {
              width: 400%;
              height: 400%;
  
            }
          }
          .ModelDisplayBlockTextContainer {
            padding-left: 10%;
    
            .ModelDisplayBlockTitle {
              font-size: 80%;
            }
            .ModelDisplayBlockDescription {
              font-size: 50%;
            }
          }
        }
      }
    }
  
    // Footer Section
    #Footer {
      max-width: $maxWidth;
      max-height: $maxHeight;
      width: 100%;
      height: 7%;
      h1 {
        font-size: 60%;
      }
      #FooterUL {
        .FooterItems {
          ul {
            li {
              h2 {
                font-size: 50%;
              }
              h3 {
                font-size: 50%;
              }
            }
          }
        }
      }
      #SocialList {
  
        .Socials {
          .pictureWindow {
            height: $picsize;
            width: $picsize;
          }
          .pictureLogo {
            height: $picsize;
            width: $picsize;
          }
          .midDrop {
            height: $shadowSize;
            width: $shadowSize;
          }
          .backDrop {
            height: $shadowSize;
            width: $shadowSize;
          }
        }
      }
    }
    
  }